@model Mini_ProjetDonetCore.Models.Location


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdVoi" class="control-label"></label>
                <select asp-for="IdVoi" class="form-control" asp-items="@ViewBag.Voitures">

                    @foreach (var voiture in ViewBag.Voitures)
                    {
                        <option value="@voiture.IdVoi">@voiture.IdVoi</option>
                    }
                    


                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdCl" class="control-label"></label>
                <input asp-for="IdCl" class="form-control" />
                <span asp-validation-for="IdCl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateLoc" class="control-label"></label>
                <input asp-for="dateLoc" class="form-control" />
                <span asp-validation-for="dateLoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateRetour" class="control-label"></label>
                <input asp-for="dateRetour" class="form-control" />
                <span asp-validation-for="dateRetour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
